body {
    background-color: rgb(133, 44, 100);
    background: url(img/back2.jpeg) center;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    list-style-type: none;
}

li {
    width: 40%;
    background-color: rgb(66, 0, 41);
    padding: 15px;
    margin: 10px;
    border: 4px ridge rgb(133, 44, 100);
}

h3 {
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(199, 133, 174);
}

h4 {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(166, 83, 135);
}

p {
    color: rgb(245, 216, 240);
}

img {
    height: 300px;
    width: 200px;
    margin: 10px;
}